@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

html, body {
  font-family: 'Exo', sans-serif;
}

#app {
  font-family: 'Exo', sans-serif;
}

.exo{
    font-family: 'Exo', sans-serif;
}